---
title: "Welcome to MAgPIE-China"

layout: page

permalink: /

header:
    overlay_image: /assets/images/background.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "link1"
          url: https://github.com/ZhouPeng12138
          blank: true
        - label: "link2"
          url: https://github.com/mmistakes/minimal-mistakes
          blank: true

    caption: "Source:12138"

excerpt: "**Hello, this is an attempt to build a website**"



gallery:
    - url: "https://www.zjuers.com/black"
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "PIK"
      caption: "Caption 2"
      url: "/members/pik.html"
    - image-path: "/members/xiaoxi_wang/assets/images/xiaoxi_wang.webp"
      size: "third"
      header: "Xiaoxi"
      caption: "Zhejiang Univerisity"
      url: /members/xiaoxi_wang/xiaoxi_wang.html
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "magpie"
      caption: "Caption 3"
      url: "/members/xiaoxi_wang/xiaoxi_wang.html"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/zhoupeng.webp"
      size: "third"
      header: "周鹏"
      caption: "0.0"
      url: "/members/zhoupeng.html"

image-text-row:
    - header: 经济社会全面绿色转型与资源环境治理体系建设暨第七届CWINS国际研讨会”顺利举办
      excerpt: <font size="2">11月9-10日，第七届CWINS国际研讨会在浙江大学公共管理学院顺利召开，会议主题为“经济社会全面绿色转型与资源环境治理体系建设”。来自德国柏林洪堡大学、波茨坦气候影响研究所、格赖夫斯瓦尔德大学、卡塞尔大学、澳大利亚国立大学、挪威生命科学大学、英国利兹大学、比利时列日大学、北京大学、上海交通大学、厦门大学、中国人民大学、浙江大学等25所国内外高校的40余位专家学者参加了本次会议...
              </br><a href="https://mp.weixin.qq.com/s/FkMACPMBhADrUtOfA5U55g" target="_blank">click to get more...</a>
              </font>
      image-url: "/assets/images/news/cwins_7th.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      url: "https://mp.weixin.qq.com/s/FkMACPMBhADrUtOfA5U55g"

image-text-row-two:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row with the image on the right (on large enough screens) and a little bit longer text plus a button"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/logo.png"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
---

<section class="site-section alternative-color first-section" id="Team">

    <h1>MAgPIE-China Team</h1>

    <h2> Team Members</h2>

    {% include round-images %}

    <h2>Gallery</h2>

    {% include gallery caption="......"%}

</section>



<hr class="section-sep">


<section class="site-section" id="News">

    <h1>News</h1>


    {% include image-text-row %}

    <hr>

    {% include image-text-row id="image-text-row-two" %}

</section>   



<hr class="section-sep">



<section class="site-section" id="Work">

    <h1>Work</h1>

    <div class="notice--success">
        <font size="5"><a href="http://10.0.4.14/s43016-022-00580-1" target="_blank"><strong>The triple benefits of slimming and greening the Chinese food system</strong></a></font>
        <p>Wang, X.*, Bodirsky, B. L.*, Müller, C., Chen, K., Yuan, C.*, 2022. <strong><i>Nature Food</i></strong> 3, 686-693.</p>
    </div>

    <div class="notice--warning">
        <h4>Paper2</h4>
        <p>more information</p>
    </div>

    <div class="notice--danger">
        <h4>Paper3</h4>
        <p>more information</p>
    </div>

    <div class="notice--info">
        <h4>Paper4</h4>
        <p>more information</p>
    </div>

    <hr>

    <h3>Boxes of different sizes in a container</h3>

    <div class="box-container">

        <div class="box">
            <h4>Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--primary box-half">
            <h4>Primary Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--success box-half">
            <h4>Success Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--warning box-third">
            <h4>Warning Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--danger box-third">
            <h4>Danger Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--info box-third">
            <h4>Info Box</h4>
            <p>Text in a box</p>
        </div>

    </div>

    <hr>

    <h3>Buttons</h3>

    <a href="#" class="btn btn--primary">Primary Button</a>
    <a href="#" class="btn btn--success">Success Button</a>
    <a href="#" class="btn btn--warning">Warning Button</a>
    <a href="#" class="btn btn--danger">Danger Button</a>
    <a href="#" class="btn btn--info">Info Button</a>
    <a href="#" class="btn btn--inverse">Inverse Button</a>
    <br><br>
    <a href="#" class="btn btn--primary btn--x-large">Extra Large Button</a>
    <a href="#" class="btn btn--primary btn--large">Large Button</a>
    <a href="#" class="btn btn--primary">Default Button</a>
    <a href="#" class="btn btn--primary btn--small">Small Button</a>

</section>