---
title: "Showcase of MAgPIE-China"

layout: page

permalink: /showcase/index.html


image-text-row_NS2025_1:
    - header: <font size="6"><em>The multiple benefits of Chinese dietary transformation</em></font>
      excerpt: <font size="4"></br>The transition to more sustainable diets is critical to achieve the Sustainable Development Goals and meet the Paris Agreement commitments. In China, this transition is particularly urgent due to the double burden of malnutrition and environmental degradation. In this study, we explored the potential of alternative diets in China to enhance public health, ensure food affordability and reduce adverse environmental impacts...</font>
      btn-class: "info"
      btn-label: "click to get more"
      blank: ture
      image-url: "assets/images/NS_2022_V8_I5.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      btn-url: The_multiple_benefits_of_Chinese_dietary_transformation/content.html


image-text-row_NF2025_1:
    - header: <font size="6"><em>Bundled measures for China’s food system transformation reveal social and environmental co-benefits</em></font>
      excerpt: <font size="4"></br>The Chinese food system has undergone a transition of unprecedented speed, leading to complex interactions with China’s economy, health and environment. Structural changes experienced by the country over the past few decades have boosted economic development but have worsened the mismatch between food supply and demand, deteriorated the environment, driven obesity and overnutrition levels up, and increased the risk for pathogen spread...</font>
      btn-url: Bundled_measures_for_China’s_food_system_transformation_reveal_social_and_environmental_co-benefits/content.html
      btn-class: "info"
      btn-label: "click to get more"
      blank: ture
      image-url: "assets/images/NF_2025_V6_I1.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
    
image-text-row_NF2022_1:
    - header: <font size="6"><em>The triple benefits of slimming and greening the Chinese food system</em></font>
      excerpt: <font size="4"></br>The Chinese food system has undergone a transition of unprecedented speed, leading to complex interactions with China’s economy, health and environment. Structural changes experienced by the country over the past few decades have boosted economic development but have worsened the mismatch between food supply and demand, deteriorated the environment, driven obesity and overnutrition levels up, and increased the risk for pathogen spread... </font>
      btn-class: "info"
      btn-label: "click to get more"
      blank: ture
      image-url: "assets/images/NF_2022_V3_I9.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      btn-url: The_triple_benefits_of_slimming_and_greening_the_Chinese_food_system/content.html

image-text-row-template:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row with the image on the right (on large enough screens) and a little bit longer text plus a button"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/logo.png"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
---






<section class="site-section" id="Showcase">

    <h1>Showcase</h1>


    {% include image-text-row id="image-text-row_NS2025_1" %}

    <hr>

    {% include image-text-row id="image-text-row_NF2025_1" %}

    <hr>

    {% include image-text-row id="image-text-row_NF2022_1" %}

</section>   

