.search {
  background-color: $primary;
  padding: 40px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: none;

  @include media-breakpoint-up(md) {
    padding: 10% 40px 40px;
  }

  &.open {
    display: flex;
  }

  &__content {
    margin: 0 auto;
    // max-height: 100%;
    max-width: 414px;
    // overflow-y: auto;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-start;
      max-width: 1095px;

      form {
        flex-grow: 1;
      }
    }
  }

  &__close {
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;

    &:focus {
      outline: none;
    }

    svg {
      vertical-align: top;

      @include media-breakpoint-down(sm) {
        width: 19px;
        height: 19px;
      }
    }

    &:hover {
      svg {
        stroke: $hover;
      }
    }

    &:focus {
      svg {
        stroke: $active;
      }
    }
  }

  &__advanced {
    flex-shrink: 0;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 13px;
      margin-left: 20px;
    }
  }

  &__btn {
    margin-left: 20px;
    padding-right: 15px;
    padding-left: 15px;

    @include media-breakpoint-up(md) {
      margin-left: 35px;
    }

    svg {
      vertical-align: top;
    }
  }
}

.LSBox {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.searchField {
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid $secondary;
  color: $secondary;
  // flex-grow: 1;
  font-family: $font-family-sans;
  font-size: 25px;
  line-height: 30px;
  padding: 10px 0;
  width: calc(100% - 70px);

  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 40px;
    width: calc(100% - 85px);
  }

  &:focus {
    border-color: #91CDCD;
    outline: none;
  }

  &::placeholder {
    color: $secondary;
  }
}

.searchSection {
  color: #e1e3d4;
  margin-top: 10px;
  z-index: 10000;

  .checkboxWrapper {
    margin-right: 8px;

    &__visual {
      border-color: #e1e3d4;
      margin-top: 4px;
    }
  }

  input:checked + .checkboxWrapper__visual {
    border-color: #91cdcd;
  }
}

.livesearch-results {
  background-color: transparent !important;
  color: #e1e3d4;
  border: none !important;
  box-shadow: none !important;
  display: block !important;  // DEBUG
  padding-top: 70px !important;

  .results-summary {
    display: none;
  }

  li {
    padding: 0 !important;
    margin-bottom: 12px !important;

    &.no-results {
      display: none;
    }

    &:hover {
      background-color: transparent !important;
    }

    a {
      font-size: 18px;
      line-height: 1.1;

      &:hover {
        text-decoration: underline;
      }
    }

    &.results-summary {
      margin-top: 10px !important;
      margin-bottom: 40px !important;
    }

    &.search-result {
      h4.title {
        margin-bottom: 0;

        a {
          color: inherit !important;
        }
      }

      p.description {
        margin-bottom: 0;
        font-size: 80%;
      }
    }

    &.load-more {
      a {
        color: #e1e3d4;
      }
    }
  }
}

