---
title: "MAgPIE-China Team"

layout: page

permalink: /members/index.html


gallery:
    - url: "https://www.zjuers.com/black"
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/members/xiaoxi_wang/assets/images/xiaoxi_wang.webp"
      size: "third"
      header: "Xiaoxi"
      caption: "Zhejiang Univerisity"
      url: /members/xiaoxi_wang/xiaoxi_wang.html
    - image-path: "/members/bin_lin/assets/images/bin_lin.jpg"
      size: "third"
      header: "Bin Lin"
      caption: "Zhejiang Univerisity"
      url: "/members/bin_lin/bin_lin.html"
    - image-path: "/members/jiaqi_xuan/assets/images/jiaqi_xuan.jpg"
      size: "third"
      header: "Jiaqi Xuan"
      caption: "Diets, Food waste & Health"
      url: "/members/jiaqi_xuan/jiaqi_xuan.html"
    - image-path: "/members/hao_cai/assets/images/hao_cai.jpg"
      size: "third"
      header: "Hao Cai"
      caption: "Dietary transition and food system emissions"
      url: "/members/hao_cai/hao_cai.html"
    - image-path: "/members/ruiying_du/assets/images/ruiying_du2.jpg"
      size: "third"
      header: "Ruiying Du"
      caption: "Zhejiang Univerisity"
      url: "/members/ruiying_du/ruiying_du.html"
    - image-path:  "/members/jiake_li/assets/images/jiake_li.png"
      size: "third"
      header: "Jiake Li"
      caption: "Zhejiang Univerisity"
      url: "/members/jiake_li/jiake_li.html"
    - image-path: "/members/peng_zhou/assets/images/peng_zhou.webp"
      size: "third"
      header: "Peng"
      caption: "ZJU"
      url: "/members/peng_zhou/peng_zhou.html"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "magpie"
      caption: "Caption 8"
      url: #
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "magpie"
      caption: "Caption 9"
      url: #

---

<section class="site-section" id="Team">

    <h1>MAgPIE-China Team</h1>

    <h2>Team Members</h2>

    {% include round-images %}

    <h2>Gallery</h2>

    {% include gallery caption="......"%}

</section>