---
title: "MAgPIE-China Team"

layout: page

permalink: /members/index.html


gallery:
    - url: "https://www.zjuers.com/black"
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "PIK"
      caption: "Caption 2"
      url: "/members/pik.html"
    - image-path: "/members/xiaoxi_wang/assets/images/xiaoxi_wang.webp"
      size: "third"
      header: "Xiaoxi"
      caption: "Zhejiang Univerisity"
      url: /members/xiaoxi_wang/xiaoxi_wang.html
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "magpie"
      caption: "Caption 3"
      url: "/members/xiaoxi_wang/xiaoxi_wang.html"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "#"
      size: "third"
      header: "周鹏"
      caption: "0.0"
      url: "/members/zhoupeng.html"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/logo.png"
      size: "third"
      header: "Header 5"
      caption: "Caption 5"
---

<section class="site-section" id="Team">

    <h1>MAgPIE-China Team</h1>

    <h2> Team Members</h2>

    {% include round-images %}

    <h2>Gallery</h2>

    {% include gallery caption="......"%}

</section>