.personsListing {
  border-top: 3px solid #e1e3d4;
}

.personsItem {
  border-bottom: 3px solid #e1e3d4;
  padding: 20px 0;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.77;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
      width: 27.21%;
    }
  }

  &__position {
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 27px;
      width: 35.08%;
    }
  }

  &__contact {
    @include media-breakpoint-up(lg) {
      width: 37.71%;
    }
  }

  &__email {
    @include text-truncate;
  }
}

.personPosition {
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.personPortrait {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -155px;
  left: 20px;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    bottom: -50px;
    right: -30px;
    left: auto;
  }

  @include media-breakpoint-up(xl) {
    right: -90px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.template-homepage_view .content {
  max-width: none;
  padding: 0;
}

.personViewProfile,
.template-homepage_view .documentByLine {
  @include contentDimensions;
}

.personViewProfile {
  margin-bottom: $paragraph-margin-bottom;
}

.template-homepage_view .content .portalMessage,
.template-homepage_view #edit-bar {
  max-width: 875px;
  margin-right: auto;
  margin-left: auto;
}

.personViewInfo {
  background-color: #e1e3d4;
  margin-bottom: 50px;
  padding: 50px 20px 1px;

  @include media-breakpoint-up(lg) {
    display: flex;
    margin-left: calc((100% - 875px) / 2 * 0.6);
    padding: 50px 20% 50px 75px;
  }

  &__col {
    @include media-breakpoint-up(lg) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 15px;
    }
  }

  &__title {
    @include smallerFont;
    font-weight: 500;
    letter-spacing: $letterSpacing;
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 48px;
  }
}

.personDetailsAccordion {
  max-width: 945px;
  margin: auto;
}

.sectionPersons {
  margin: 0 auto 50px;
  padding: 0 20px;

  @include media-breakpoint-up(md) {
    // max-width: 726px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 100px;
    max-width: 1125px;
  }

  .swiper-wrapper {
    border-top: 3px solid #e1e3d4;
    border-bottom: 3px solid #e1e3d4;
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px 0;
  }
}

.personsSlider {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  grid-row: 1/2;
  line-height: 1.77;
  margin-top: 0 !important;
  padding: 25px 0;
  width: calc(100vw - 40px);

  @include media-breakpoint-down(xs) {
    flex-direction: row;
    &:nth-child(even) {
      grid-row: 2/3;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-right: 20px;
    width: calc(500px / 2);

    &:nth-child(4n+1),
    &:nth-child(4n+2) {
      grid-row: 1/2;
    }
    &:nth-child(4n+3),
    &:nth-child(4n+4) {
      grid-row: 2/3;
    }
    html.js & {
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    width: calc(680px / 2);
  }

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(920px / 3);
    &:nth-child(6n+1),
    &:nth-child(6n+2),
    &:nth-child(6n+3) {
      grid-row: 1/2;
    }
    &:nth-child(6n+4),
    &:nth-child(6n+5),
    &:nth-child(6n+6) {
      grid-row: 2/3;
    }
  }

  @include media-breakpoint-up(xl) {
    width: calc(1085px / 4);
    &:nth-child(8n+1),
    &:nth-child(8n+2),
    &:nth-child(8n+3),
    &:nth-child(8n+4) {
      grid-row: 1/2;
    }
    &:nth-child(8n+5),
    &:nth-child(8n+6),
    &:nth-child(8n+7),
    &:nth-child(8n+8) {
      grid-row: 2/3;
    }
  }

  &__figure {
    @include media-breakpoint-down(xs) {
      flex-shrink: 0;
      margin-right: 20px;
    }
  }

  &__content {
    @include media-breakpoint-up(sm) {
      flex-grow: 1;
      padding-bottom: 60px;
      position: relative;
    }
  }

  &__title {
    a {
      border-bottom: 1px solid;
      transition: padding-bottom .15s;

      &:hover {
        padding-bottom: 1px;
      }
    }
  }

  &__tags {
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &__department {
    a:hover {
      border-bottom: 1px solid;
    }
  }

  &__btn {
    opacity: 0;
    padding: 5px 19px;
    visibility: hidden;

    &.shown {
      opacity: 1;
      visibility: visible;
    }

    svg {
      vertical-align: baseline;
    }
  }

  &__back {
    // margin: 0 5px 10px 0;
    padding: 5px 9px;
    vertical-align: top;

    svg {
      vertical-align: baseline;
    }
  }
}

.personsSliderTags {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.shown {
    opacity: 1;
    visibility: visible;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 35px;
    z-index: 1;
    width: calc(100% - 35px);

    .personsSlider:nth-child(even) & {
      top: auto;
      bottom: -10px;
    }
  }

  &__item {
    background-color: #91cdcd;
    // cursor: auto;
    margin: 0 5px 10px;
    padding: 5px 19px;

    &:hover {
      background-color: darken(#91cdcd, 15%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem darken(#91cdcd, 15%);
    }
  }
}

.personsSliderFigure {
  border-radius: 50%;
  width: 111px;
  height: 111px;

  .portletItem__avatar {
    border-radius: 50%;
    height: 100%;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
